.homepage-header>button {
  display: flex;
}

.App-header {
  background-color: #e66123;
  min-height: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
  font-family: 'Paytone One', sans-serif;
}

.log-div>a {
  padding: 5%;
  font-size: 20px;
  color: white;
}

.log-div>a:hover {
  padding: 5%;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.774);
}

.log-div {
  display: flex;
  padding-left: 50%;
}

.signin-wrapper {
  margin-top: 8%;
}

.homepage-header {
  background-color: #e66123;
  min-height: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
  font-family: 'Paytone One', sans-serif;
}

.home-div {
  display: flex;
  padding-left: 50%;
}

.home-div>a {
  padding: 5%;
  font-size: 18px;
  color: white;
}

.home-div>a:hover {
  padding: 5%;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.774);
  cursor: pointer;
}

.home {
  padding: 0% 85% 0% 0%;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #e66123;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #d35216;
}

.div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.seeker-container {
  margin: 0px 20% 0 20%;
}

.template-container {
  border: 1px solid black;
  margin: 2%;
}